[buildplugin]
bundle=true
publish_npm=true

[env_all]
npm_config_keytar_binary_host_mirror=https://int.repositories.cloud.sap/artifactory/build-milestones/com/sap/ux/binaries/keytar
# Need to fetch better-sqlite3 from internal artifactory. See https://pages.github.tools.sap/cap/docs/advanced/troubleshooting#xmake-builds-fail-because-of-sqlite-binaries
# How does this work? https://jfrog.com/help/r/artifactory-how-to-download-node-pre-gyp-pre-compiled-binaries-from-artifactory/artifactory-how-to-download-node-pre-gyp-pre-compiled-binaries-from-artifactory
npm_config_better_sqlite3_binary_host_mirror=https://int.repositories.cloud.sap/artifactory/build-releases/com/sap/cds/better-sqlite3-binaries/{version}/better-sqlite3-binaries-{version}-bin.zip!